In [10]:
import pandas as pd

In [14]:
euro_leagues = pd.read_csv('D:/Manipal Data Science/First Term/NumPy/goal_stats_euro_leagues_2012-13.csv')
euro_leagues

         Month           Stat    EPL  La Liga  Serie A  Bundesliga
0   08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
1   09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
2   10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
3   11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
4   12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
5   01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
6   02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
7   03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
8   04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
9   05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
10  06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
11  08/01/2012    GoalsScored   57.0       60     21.0        23.0
12  09/01/2012    GoalsScored  111.0      112    133.0       135.0
13  10/01/2012    GoalsScored   95.0       88     97.0        77.0
14  11/01/2012    GoalsScored  121.0      116    120.0       137.0
15  12/01/2012    GoalsScored  183.0      109    125.0        72.0
16  01/01/2013    GoalsScored  117.0      121    104.0        51.0
17  02/01/2013    GoalsScored   87.0      110    100.0       101.0
18  03/01/2013    GoalsScored   91.0      101     99.0       106.0
19  04/01/2013    GoalsScored  105.0      127    102.0       104.0
20  05/01/2013    GoalsScored   96.0      109    102.0        92.0
21  06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [3]:
euro_goals = euro_leagues.set_index('Month')
euro_goals

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
08/01/2012    GoalsScored   57.0       60     21.0        23.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0
10/01/2012    GoalsScored   95.0       88     97.0        77.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0
01/01/2013    GoalsScored  117.0      121    104.0        51.0
02/01/2013    GoalsScored   87.0      110    100.0       101.0
03/01/2013    GoalsScored   91.0      101     99.0       106.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0
05/01/2013    GoalsScored   96.0      109    102.0        92.0
06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [15]:
euro_grpby_year = euro_goals.groupby(lambda Month: Month.split('/')[2])
euro_grpby_year.groups

{'2012': Index(['08/01/2012', '09/01/2012', '10/01/2012', '11/01/2012', '12/01/2012',
        '08/01/2012', '09/01/2012', '10/01/2012', '11/01/2012', '12/01/2012'],
       dtype='object', name='Month'),
 '2013': Index(['01/01/2013', '02/01/2013', '03/01/2013', '04/01/2013', '05/01/2013',
        '06/02/2013', '01/01/2013', '02/01/2013', '03/01/2013', '04/01/2013',
        '05/01/2013', '06/01/2013'],
       dtype='object', name='Month')}

In [16]:
for  name,group in euro_grpby_year:
    print(name)
    print(group)

2012
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
08/01/2012    GoalsScored   57.0       60     21.0        23.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0
10/01/2012    GoalsScored   95.0       88     97.0        77.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0
2013
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
01/01/2013    GoalsScored  117.0      121    104.0        51.0
02/01/2013    GoalsScored   87.0      110    100.0       101.0
03/01/2013    GoalsScored   91.0      101     99.0       106.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0
05/01/2013    GoalsScored   96.0      109    102.0        92.0
06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [17]:
euro_grpby_month = euro_goals.groupby(level = 0)
euro_grpby_month

In [18]:
euro_grpby_month.groups

{'01/01/2013': Index(['01/01/2013', '01/01/2013'], dtype='object', name='Month'),
 '02/01/2013': Index(['02/01/2013', '02/01/2013'], dtype='object', name='Month'),
 '03/01/2013': Index(['03/01/2013', '03/01/2013'], dtype='object', name='Month'),
 '04/01/2013': Index(['04/01/2013', '04/01/2013'], dtype='object', name='Month'),
 '05/01/2013': Index(['05/01/2013', '05/01/2013'], dtype='object', name='Month'),
 '06/01/2013': Index(['06/01/2013'], dtype='object', name='Month'),
 '06/02/2013': Index(['06/02/2013'], dtype='object', name='Month'),
 '08/01/2012': Index(['08/01/2012', '08/01/2012'], dtype='object', name='Month'),
 '09/01/2012': Index(['09/01/2012', '09/01/2012'], dtype='object', name='Month'),
 '10/01/2012': Index(['10/01/2012', '10/01/2012'], dtype='object', name='Month'),
 '11/01/2012': Index(['11/01/2012', '11/01/2012'], dtype='object', name='Month'),
 '12/01/2012': Index(['12/01/2012', '12/01/2012'], dtype='object', name='Month')}

In [19]:
for i,j in euro_grpby_month:
    print(i,j)
    print("\n")

01/01/2013                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
01/01/2013    GoalsScored  117.0      121    104.0        51.0


02/01/2013                      Stat   EPL  La Liga  Serie A  Bundesliga
Month
02/01/2013  MatchesPlayed  30.0       40     40.0        36.0
02/01/2013    GoalsScored  87.0      110    100.0       101.0


03/01/2013                      Stat   EPL  La Liga  Serie A  Bundesliga
Month
03/01/2013  MatchesPlayed  35.0       38     39.0        36.0
03/01/2013    GoalsScored  91.0      101     99.0       106.0


04/01/2013                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0


05/01/2013                      Stat   EPL  La Liga  Serie A  Bundesliga
Month
05/01/2013  MatchesPlayed  33.0       40     40.0        27.0
05/01/2013    GoalsScored  96.0      109    102.0        92.0


06/01/2013                    Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/01/2013  GoalsScored  NaN       80      NaN         NaN


06/02/2013                      Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/02/2013  MatchesPlayed  NaN       10      NaN         NaN


08/01/2012                      Stat   EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
08/01/2012    GoalsScored  57.0       60     21.0        23.0


09/01/2012                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0


10/01/2012                      Stat   EPL  La Liga  Serie A  Bundesliga
Month
10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
10/01/2012    GoalsScored  95.0       88     97.0        77.0


11/01/2012                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0


12/01/2012                      Stat    EPL  La Liga  Serie A  Bundesliga
Month
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0

In [12]:
euro_leagues = euro_leagues.reset_index()

In [21]:
euro_leagues.head()

        Month           Stat   EPL  La Liga  Serie A  Bundesliga
0  08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
1  09/01/2012  MatchesPlayed  38.0       39     50.0        44.0
2  10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
3  11/01/2012  MatchesPlayed  50.0       41     42.0        46.0
4  12/01/2012  MatchesPlayed  59.0       39     39.0        26.0

In [30]:
euro_leagues = euro_leagues.set_index[('Month','Stat')]
euro_leagues.head()

TypeError: 'method' object is not subscriptable

In [26]:
euro_multiindex = euro_leagues.groupby(level=['Month','Stat'])
euro_multiindex

ValueError: multiple levels only valid with MultiIndex

In [28]:
euro_multiindex.group()

NameError: name 'euro_multiindex' is not defined

In [ ]:
for name,group